$grid-width: 114rem;
$gutter-vertical: 8rem; // margin bottom giữa các row
$gutter-horizontal: 6rem; // giá trị khoảng cách giữa các column
$textColor: red;
$price:#ff424e;
$background-PC:#f5f5fa;
$background: #00aefd;
$primary-blue:rgb(26, 148, 255);
$width-PC:1240px;
$color-button :#0d5cb6;
$color-primary-white :#fff;