.registerSalesTiki{
    width: $width-PC;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: $background-PC;
    .registerImg{
        padding: 20px;
        h1{
            font-size: 22px;
    font-weight: 600;
    padding: 20px 8px 30px;
        }
        input{
            width: 500px
            ;
                padding: 8px 8px 10px;
                margin: 8px auto;
            font-size: 12px;
            border: none;
        }
        form#form-register {
            padding-left: 5px;
        }
        
            span {
                display: block;
                margin: -15px 5px;
                color: #0d5cb6;
            }
        p{
            padding: 10px 5px 5px;
            text-transform: capitalize;
            font-weight: 600;
        }
        div{
            input{padding: 5px 10px;
            width: 11px;
            } 
        }
        select {
            margin: 15px 10px 35px 5px;
            padding: 3px 5px;
        }
        .submit-form{
            input{
                width: 513px;
    padding: 10px 0;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background-color: #1890ff;
    cursor: pointer;
    border: none;
}
            }
        }
    .registerNow{
        padding: 20px;
        background-color: $color-primary-white;
        img{width:580px;}
        div{
            img{
                width: 50px;
                height: 30px;
            }
            h1{
                font-size: 22px;
        font-weight: 600;
        padding: 20px 8px 10px;
        display: inline-block;
            }
        }
        p {
            padding: 8px 8px 100px;
            font-size: 18px;
            color: #1890ff;
        }
    }
    .support-messenger {
        cursor: pointer;
        width: 96px;
        height: 42px;
        background-color: #0b74e5;
        position: fixed;
        bottom: 0;
        right: 13px;
        text-align: center;
        line-height: 45px;
        border-radius: 7px;
        color: white;
        font-size: 16px;
        font-weight: 600;
         span {
        padding-left: 8px;
        text-transform: capitalize;
        }
    }
}