.shoppingTrends {
    background-color: $color-primary-white;
    width: $width-PC;
    margin: auto;
    padding: 15px 0;
    &-title {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        align-items: center;
        .trends-left {
            display: flex;
            span {
                height: 24px;
                line-height: 24px;
                padding-left: 10px;
                font-size: 22px;
                text-transform: capitalize;
            }
            img {
                width: 24px;
                height: 24px;
            }
        }
        .trends-right {
            a {
                text-decoration: none;
                color: $color-button;
                font-weight: 600;
            }
        }
    }
    &-body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin: 20px;
        .selectionColFour:hover img {
            transform: scale(1.1);
            transition: .5s;
        }
        .selectionColFour {
            cursor: pointer;
            border-radius: 3px;
            border: 1px solid $background-PC;
            .trendsTitle {
                margin: 20px 15px;
                .header-title {
                    font-size: 17px;
                    font-weight: 600;
                    padding-bottom: 15px;
                }
                .sub-title {
                    color: #0042fd;
                    background-color: #f0f8ff;
                    font-size: 13px;
                    padding: 3px;
                }
            }
            .trendChoose {
                margin: 15px;
                img {
                    width: 127px;
                    height: 127px;
                }
            }
        }
    }
}